*.iml
*.gradle/
/local.properties
*.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/beautysettingkit/build/
/debug/build/
/liveplayerdemo/build/
/livepusherdemo/build/
/login/build/
/mlvbliveroomdemo/build/
